<!DOCTYPE html>
<html>

<head th:replace="link::link">
</head>

<body>
<div id="fb-root"></div>

<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=178915645964244";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
<div th:replace="javascript::javascript">
</div>
<div th:replace="header::header"></div>
	<main class="content">
	<div class="fullwidth-block">
		<div class="container">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft">
					<h2 class="section-title" th:text="${place.name}"></h2>
					<figure>
						<img th:src="@{/upload/{name}(name=${place.image.name})}" alt="">
					</figure>

					<p style="" th:text="${place.content}"></p>

					<!-- <p>Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone. See the Avengers go up against Ultron, Kang, the Masters of Evil and more over three decades of epic action. This is where youll find all the big-time action, major storylines and iconic Spider-Man magic youd come to expect from the Wall-Crawler. Meet all of Spideys deadly enemies, from the Green Goblin and Doctor Octopus to Venom and Carnage, plus see Peter Parker fall in love, face tragedy and triumph, and learn that with great power comes great responsibility.</p>

								<p>Caught in a gamma bomb explosion while trying to save the life of a teenager, Dr. Bruce Banner was transformed into the incredibly powerful creature called the Hulk. Avengers Assemble. Featuring the work of Kurt Busiek, George Perez and other quintessential Avengers creators. Earths Mightiest Heroes reunite with their biggest guns at the forefront to take on familiar enemies and new threats alike.</p> -->
				</div>
				<input id="lat" type="hidden" th:value="${place.lat}"> <input
					id="lng" type="hidden" th:value="${place.lng}">
				<style>
					#map {
					margin-top:120px;
					height: 400px;
					 width: 35%;
   					 margin-left: 800px;
					}
				</style>
				<div id="map"></div>
				<script>
					function initMap() {
						var lat = document.getElementById('lat').value;
						var latn = parseFloat(lat);
						var lng = document.getElementById('lng').value;
						var lngn = parseFloat(lng);
						console.log(lngn)
						var uluru = {
							lat : latn,
							lng : lngn
						};
						console.log(uluru);
						var map = new google.maps.Map(document
								.getElementById('map'), {
							zoom : 4,
							center : uluru
						});
						var marker = new google.maps.Marker({
							position : uluru,
							map : map
						});
					}
				</script>
				<script async defer
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3dyg71Ox4WUW5x-lzH02hhuecdUeAHnM&callback=initMap">
					
				</script>
				<!-- <div class="col-md-4 col-md-push-1 wow fadeInRight">
					<div class="col-md-7 col-md-push-1 wow fadeInRight">
						<div class="map">
							<iframe
								src="https://www.google.com/maps/embed?pb=AIzaSyD3dyg71Ox4WUW5x-lzH02hhuecdUeAHnM&callback=initMap"
								width="500" height="400" frameborder="0" style="border: 0"></iframe>
						</div>
					</div>

				</div> -->
			</div>
		</div>

	</div>

	<div class="fullwidth-block" data-bg-color="#f1f1f1">
		<div class="container">
			<h2 class="section-title" >album</h2>
			<div class="row">
				<div class="col-md-6" th:each="detail:${listdetail}">
					<div class="team wow fadeInRight">
						<figure class="team-image">
							<img th:src="@{/upload/{name}(name=${detail.image.name})}" alt="">
						</figure>

						<p th:text="${detail.content}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${session.userId!=null}" style="margin-left: 170px; margin-bottom: 50px;width: 130%;">
		<h3>Do you want report ?</h3>
		<form id="report" th:action="@{/report}" th:object="${report}" method="post">
			<div id="scrollContainer">
				<div id="inputBox">
					<div class="row">
						<div class="col-md-9">
						<input type="hidden" name="idPlace" th:value="${place.id}" >
							<textarea
								style="margin-top: 10px margin-top: 100px; margin-left: 100px; min-height: 100px; resize: vertical; outline: none; width: 50%; padding: 10px 20px; border-radius: 3px; border: 1px solid #f1f1f1; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); margin-bottom: 10px; font-weight: 300;"
								th:field="*{content}" class="filestyle" value=" "></textarea>
						</div>
					</div>
				</div>
			</div>
			<input type="submit" class="button" value="Send"
				style="margin-left: 656px;">
		</form>
	</div>
	
	
 <div class="fb-like" th:attr="data-href='http://sontx.ddns.net:8080/Doan/detail?id='+${place.id}"  data-layout="standard" style="margin-left:305px" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> 
<div class="fb-comments" th:attr="data-href='http://sontx.ddns.net:8080/Doan/detail?id='+${place.id}" data-width="800" style="margin-left:300px" data-numposts="5"></div>
	
	<div>
	<h3 align="center" style="color: #dda2b0"> Traveling</h3>
	<h4 align="center" style="color: #dda2b0" th:text="${place.address}"></h4>
	</div>


	</main>
	<!-- .content -->

	<div class="footer text-center">
		<p>
			&copy: copy kim hue</a>
		</p>
	</div>
	<!-- End Footer -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootshape.js"></script>
	
</body>


</html>