<html>
<head>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
	<!-- <form id="uploadForm" enctype="multipart/form-data" action="place" method="post">
    <input name="file[]" type="file" id="file" multiple/>
    <button class="add_more">Add More Files</button>
    <input type="submit" value="submit" id="upload"/>
</form> -->

	 <button class="btn btn-success" id="addRow" type="button">Add</button>
<form id="uploadForm" enctype="multipart/form-data" action="place" method="post">
<div id="inputBox">
<div class="row">
<div class="col-md-9">
<input name="file[]" type="file" id="file" multiple/>
</div>
</div>
</div>
	<!-- <input type="text" name="name"  id="name" />
	<input type="text" name="address" id="address" /> -->
	<!-- <button onclick="javascript:saveMedia();">aaa</button> -->
	<input type="submit" value="submit"  id="upload"/>
	</form>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#addRow").click(function(){
			$("#inputBox").append("<div id='inputBox'> <div class='row'><div class='col-md-9'><input name='file[]'  type='file' id='file' multiple /></div></div></div>")
			$("#inputBox > div:last").append("<div class='col-md-3'></div>");
			$("#inputBox > div:last > div:last")
			.append("<button class='btn btn-danger removeBtn' type='button'>Remove</button>");
			$("#inputBox > div:last > div:last > .removeBtn:first").click(function(){
				$(this).parent().parent().remove();
				if($("#inputBox").height()<=166 && $("#inputBox").hasClass("pre-scrollable")) $("#inputBox").removeClass("pre-scrollable");
			})
			if($("#inputBox").height()>166 && !$("#inputBox").hasClass("pre-scrollable")) $("#inputBox").addClass("pre-scrollable");
		});
		$("[data-toggle='tooltip']").tooltip();
	});
</script>
<script type="text/javascript">
/* $(document).ready(function(){
    $('.add_more').click(function(e){
        e.preventDefault();
        $(this).before("<input name='file[]' type='file' id='file'/>");
    });
}); */
$(document).ready(function(){
	$('uploadForm').on('submit', function(e){
		e.preventDefault();
		$.ajax({
            url : 'place',
            type: "POST",
            data : new FormData(this),
            contentType: false,
            success: function(data)
            {
            	alert('ok');
            }
		});
	});
});


       /*  function saveMedia() {
            var formData = new FormData();
            var filedata = document.getElementById("file");
            console.log(filedata.length);
            var fileArray = [];
          //  for(var i=0;i<filedata.length;i++){
            	//formData.append('file[]', $('input[type=file]')[0].files[i]);
          //  	fileArray.push($('#file')[0].files[i]);
        //    }// nhu ry pko?? uhm run lai
            jQuery.each(jQuery('#file')[0].files, function(i, file) {
                fileArray.push(file);
            });
            formData.append('files', fileArray);
            console.log(formData);
            var name =  $('#name').val();
            console.log($('#name').val());//doi xi
            var address =  $('#address').val();
            formData.append('name', name);
            formData.append('address',address);
            console.log(formData);
            console.log(formData.length);
            $.ajax({
                url : 'place',
                data : formData,
                processData : false,
                contentType : false,
                type : 'POST',
                success : function(data) {
                    alert(data);
                    window.location="index";
                },
                error : function(err) {
                    alert(err);
                }
            });
        } */
        
        <!--  $('#upload').click(function() {
            var filedata = document.getElementsByName("file[]"),
                    formdata = false;
            if (window.FormData) {
                formdata = new FormData();
            }
            var i = 0, len = filedata.length, img, reader, file;

            for (; i < len; i++) {
                file = filedata[i];
                if (formdata) {
                    formdata.append("file[]", $('input[type=file]')[0].files[i]);
                }
            }
            if (formdata) {
                $.ajax({
                    url: 'place',
                    data: formdata,
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function(data) {
						alert('ok');
                    },       
                    error: function(data) {
                    	alert('ok ok');
                     }       
                     });
                    }
                });-->
    </script> 
</body>

</html>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD3t6ABF_xVAEORmlewxajxy__YiR6_Q9g&libraries=places" type="text/javascript"></script>

<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            document.getElementById('city2').value = place.name;
            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
            //alert("This function is working!");
            //alert(place.name);
           // alert(place.address_components[0].long_name);

        });
    }
    google.maps.event.addDomListener(window, 'load', initialize); 
</script>

