<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" type="text/css" href="../csss/styles.css" media="screen" />
</head>
<body>
<div th:replace="admin/header::header"></div>
	<div class="bottom-spacing">
	  <!-- Button -->
	  <div class="float-left">
		  <a href="addCat" class="button">
			<span>Thêm tin <img src="../images/plus-small.gif" alt="Thêm danh mục"></span>
		  </a>
	  </div>
	  <div class="clear"></div>
</div>

<div class="grid_12">
	<!-- Example table -->
	<div class="module">
		<h2><span>Danh sách user</span></h2>
		
		<div class="module-table-body">
			<form action="">
			<table id="myTable" class="tablesorter">
				<thead >
					<tr>
						<th style="width:4%; text-align: center;">ID</th>
						<th style="width:20%">name</th>
					</tr>
				</thead>
				<tbody th:each="user:${list}">
					<tr>
						<td class="align-center" th:text="${user.id}"></td>
						<td th:text="${user.username}"></td>
					</tr>
				
				   
				</tbody>
			</table>
			</form>
		 </div> <!-- End .module-table-body -->
	</div>
	
</div> <!-- End .grid_12 -->
</body>
</html>